### Segunda Avaliação

#### Glória Xavier Gazola

#### Importando bibliotecas

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind

#### 2.1 - Exploração de Dados
 - Entender os dados antes de utilizá-los, sua estrutura e características principais

In [10]:
df = pd.read_csv('vgchartz-2024.csv')

In [12]:
df.head(5)

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14

In [14]:
df.shape

(64016, 14)

In [16]:
df.describe()

,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales
count,6678.000000,18922.000000,12637.000000,6726.000000,12824.000000,15128.000000
mean,7.220440,0.349113,0.264740,0.102281,0.149472,0.043041
std,1.457066,0.807462,0.494787,0.168811,0.392653,0.126643
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.400000,0.030000,0.050000,0.020000,0.010000,0.000000
50%,7.500000,0.120000,0.120000,0.040000,0.040000,0.010000
75%,8.300000,0.340000,0.280000,0.120000,0.140000,0.030000
max,10.000000,20.320000,9.760000,2.130000,9.850000,3.120000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           64016 non-null  object
 1   title         64016 non-null  object
 2   console       64016 non-null  object
 3   genre         64016 non-null  object
 4   publisher     64016 non-null  object
 5   developer     63999 non-null  object
 6   critic_score  6678 non-null   float64
 7   total_sales   18922 non-null  float64
 8   na_sales      12637 non-null  float64
 9   jp_sales      6726 non-null   float64
 10  pal_sales     12824 non-null  float64
 11  other_sales   15128 non-null  float64
 12  release_date  56965 non-null  object
 13  last_update   17879 non-null  object
dtypes: float64(6), object(8)
memory usage: 6.8+ MB

In [22]:
df.isna().sum().sort_values(ascending=False)

critic_score    57338
jp_sales        57290
na_sales        51379
pal_sales       51192
other_sales     48888
last_update     46137
total_sales     45094
release_date     7051
developer          17
img                 0
title               0
console             0
genre               0
publisher           0
dtype: int64

#### 2.2 - Limpeza de Dados
- Identificar dados incorretos ou irrelevantes e substituí-los ou removê-los

#### Removendo as duplicatas dos dataframes

In [26]:
df = df.drop_duplicates()

df.shape

(64016, 14)

#### Removendo zeros

In [30]:
for column in df.select_dtypes(include=['float64', 'int64']):
    df[column] = df[column].fillna(df[column].mean())

### 2.3 Análise Exploratória

In [ ]:
import pandas as pd

# 1. Verificar a distribuição de valores únicos por coluna
print("\nValores únicos por coluna:")
for column in df.columns:
    print(f"{column}: {df[column].nunique()} valores únicos")

# 2. Identificar colunas numéricas e categóricas
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns
categorical_columns = df.select_dtypes(include=['object']).columns
print("\nColunas numéricas:", numerical_columns.tolist())
print("\nColunas categóricas:", categorical_columns.tolist())

# 3. Análise de frequências para variáveis categóricas
print("\nAnálise de frequências para variáveis categóricas:")
for column in categorical_columns:
    print(f"\nFrequência da variável {column}:")
    print(df[column].value_counts(normalize=True).head(10))  # Top 10 valores mais frequentes

# 5. Análise de combinações entre variáveis categóricas
if len(categorical_columns) > 1:
    print("\nCombinações de frequências entre variáveis categóricas:")
    for col1 in categorical_columns[:2]:  # Limitar a análise inicial
        for col2 in categorical_columns[1:]:
            if col1 != col2:
                print(f"\nCruzamento entre {col1} e {col2}:")
                print(pd.crosstab(df[col1], df[col2], normalize='index').head())

# 6. Análise de agrupamentos para colunas numéricas
print("\nAgrupamentos com colunas numéricas:")
for cat_col in categorical_columns:
    print(f"\nMédias das colunas numéricas agrupadas por {cat_col}:")
    print(df.groupby(cat_col)[numerical_columns].mean().head())

# 7. Criação de novas variáveis baseadas em operações existentes
print("\nCriando novas variáveis:")
if len(numerical_columns) >= 2:
    df['soma_numericas'] = df[numerical_columns[0]] + df[numerical_columns[1]]
    df['dif_numericas'] = df[numerical_columns[0]] - df[numerical_columns[1]]
    print("Novas colunas criadas: 'soma_numericas' e 'dif_numericas'")
    print(df[['soma_numericas', 'dif_numericas']].head())

# 8. Detecção de valores raros ou outliers simples
print("\nValores raros em variáveis categóricas:")
for column in categorical_columns:
    rare_values = df[column].value_counts()[df[column].value_counts() < 5]
    print(f"\nValores raros na variável {column}:")
    print(rare_values)

print("\nFinalizado!")

#### Os gêneros mais vendidos

### 2.4 Visualizações (Gráficos)

#### Gráfico de Barras

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Exemplo de gráfico de barras
plt.figure(figsize=(8, 6))
sns.countplot(data=data, x='coluna_categorica')
plt.title('Gráfico de Barras')
plt.xlabel('Categorias')
plt.ylabel('Contagem')
plt.xticks(rotation=45)
plt.show()

#### Histograma

In [ ]:
# Exemplo de histograma
plt.figure(figsize=(8, 6))
sns.histplot(data=data, x='coluna_numerica', bins=20, kde=True, color='blue')
plt.title('Histograma')
plt.xlabel('Valores')
plt.ylabel('Frequência')
plt.show()

#### Gráfico de disperção (Scatterplot)

In [ ]:
# Exemplo de scatterplot
plt.figure(figsize=(8, 6))
sns.scatterplot(data=data, x='coluna_x', y='coluna_y', hue='coluna_categorica')
plt.title('Gráfico de Dispersão')
plt.xlabel('Coluna X')
plt.ylabel('Coluna Y')
plt.legend(title='Legenda')
plt.show()

#### Boxplot

In [ ]:
# Exemplo de boxplot
plt.figure(figsize=(8, 6))
sns.boxplot(data=data, x='coluna_categorica', y='coluna_numerica', palette='Set2')
plt.title('Boxplot')
plt.xlabel('Categorias')
plt.ylabel('Valores')
plt.xticks(rotation=45)
plt.show()

#### Heatmap

In [ ]:
# Exemplo de mapa de calor para correlações
plt.figure(figsize=(10, 8))
correlacao = data.corr()
sns.heatmap(correlacao, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Mapa de Calor das Correlações')
plt.show()

#### Gráfico de linha

In [ ]:
# Exemplo de gráfico de linha
plt.figure(figsize=(8, 6))
sns.lineplot(data=data, x='coluna_temporal', y='coluna_valores', hue='coluna_categorica')
plt.title('Gráfico de Linha')
plt.xlabel('Eixo X')
plt.ylabel('Eixo Y')
plt.show()

#### Pairplot (Relações entre variáveis numéricas)

In [ ]:
# Exemplo de pairplot
sns.pairplot(data=data, hue='coluna_categorica', diag_kind='kde')
plt.suptitle('Pairplot', y=1.02)
plt.show()

In [ ]:
import streamlit as st
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

# Título da aplicação
st.title("Análise de Dados com Streamlit")
st.write("Neste exemplo, estamos realizando uma análise estatística e visualizando os dados.")

# Carregar os dados de um arquivo CSV (suponha que você tenha um arquivo 'dados.csv')
# No caso, substitua pelo caminho do seu arquivo ou URL de um arquivo CSV
df = pd.read_csv("dados.csv")  # Exemplo de leitura do arquivo CSV

# Exibir os dados carregados
st.write("Exemplo de dados carregados:")
st.write(df.head())  # Exibe as 5 primeiras linhas do DataFrame

# Assumindo que o DataFrame tenha duas colunas de interesse para o t-test
# Substitua os nomes das colunas conforme seu DataFrame
grupo1 = df['grupo1']  # Substitua 'grupo1' pelo nome real da coluna
grupo2 = df['grupo2']  # Substitua 'grupo2' pelo nome real da coluna

# Realizando a análise estatística (t-test)
t_stat, p_value = stats.ttest_ind(grupo1, grupo2)

# Exibindo os resultados do t-test
st.subheader("Resultado do t-test")
st.write(f"Estatística t: {t_stat:.3f}")
st.write(f"Valor-p: {p_value:.3f}")

# Interpretação do valor-p
if p_value < 0.05:
    st.write("O valor-p é menor que 0.05, indicando que as médias dos dois grupos são significativamente diferentes.")
else:
    st.write("O valor-p é maior ou igual a 0.05, indicando que não há diferença significativa entre os grupos.")

# Visualização dos dados
st.subheader("Distribuição dos Grupos")
fig, ax = plt.subplots()
sns.histplot(grupo1, kde=True, color='blue', label='Grupo 1', ax=ax)
sns.histplot(grupo2, kde=True, color='red', label='Grupo 2', ax=ax)
ax.legend()
st.pyplot(fig)